<a href="https://colab.research.google.com/github/evan-randall/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/Copy_of_Copy_of_LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

####  Choose your target. Which column in your tabular dataset will you predict?

In [ ]:
# I will try to predict the salary for a NBA player based off height, experience and scoring average.

#### Is your problem regression or classification?

In [ ]:
# I will use regression because my goal is to predict a quantity not a category.

#### How is your target distributed?

In [ ]:
# The target is left-skewed

#### Choose your evaluation metric(s)

In [ ]:
# Mean absolute error, root mean squared, R^2, Ridge Regression

#### Choose which observations you will use to train, validate, and test your model.

In [ ]:
# I will use the entire data set no outliers. I will do a random split not time based.

####  Begin to clean and explore your data.

In [10]:
# CSV created by inputting these data into a google sheet and coverted into an excel csv
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving NBA Salaries - Sheet1 (6).csv to NBA Salaries - Sheet1 (6).csv

In [14]:
df = pd.read_csv('NBA Salaries - Sheet1 (6).csv')
df.head(10)

                NAME                   TEAM  ...  SCORING AVERAGE       SALARY
0      Stephen Curry  Golden State Warriors  ...             23.5  $40,200,000
1         Chris Paul  Oklahoma City Thunder  ...             18.5  $38,506,482
2  Russell Westbrook        Houston Rockets  ...             23.2  $38,506,482
3          John Wall     Washington Wizards  ...             19.0  $38,199,000
4       Kevin Durant          Brooklyn Nets  ...             27.0  $38,199,000
5       James Harden        Houston Rockets  ...             25.1  $38,199,000
6       LeBron James     Los Angeles Lakers  ...             27.1  $37,436,858
7         Kyle Lowry        Toronto Raptors  ...             14.7  $34,996,296
8      Blake Griffin        Detroit Pistons  ...             21.7  $34,449,964
9      Tobias Harris     Philadelphia 76ers  ...             15.9  $32,742,000

[10 rows x 7 columns]