<a href="https://colab.research.google.com/github/evan-randall/DS-Unit-2-Applied-Modeling/blob/master/module2-wrangle-ml-datasets/Copy_of_LS_DS_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 2*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

#### Continue to clean and explore your data.

In [21]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving NBA Salaries - Sheet1 (8).csv to NBA Salaries - Sheet1 (8).csv

In [24]:
df = pd.read_csv('NBA Salaries - Sheet1 (8).csv')
df.head(10)

                NAME                   TEAM  ...  SCORING AVERAGE    SALARY
0      Stephen Curry  Golden State Warriors  ...             23.5  40200000
1         Chris Paul  Oklahoma City Thunder  ...             18.5  38506482
2  Russell Westbrook        Houston Rockets  ...             23.2  38506482
3          John Wall     Washington Wizards  ...             19.0  38199000
4       Kevin Durant          Brooklyn Nets  ...             27.0  38199000
5       James Harden        Houston Rockets  ...             25.1  38199000
6       LeBron James     Los Angeles Lakers  ...             27.1  37436858
7         Kyle Lowry        Toronto Raptors  ...             14.7  34996296
8      Blake Griffin        Detroit Pistons  ...             21.7  34449964
9      Tobias Harris     Philadelphia 76ers  ...             15.9  32742000

[10 rows x 7 columns]

In [28]:
df.describe()

        POSITION  HEIGHT IN.  EXPERIENCE  SCORING AVERAGE        SALARY
count  80.000000   80.000000     80.0000         80.00000  8.000000e+01
mean    2.862500   78.675000      9.2125         15.76250  2.519869e+07
std     1.490423    3.610025      2.9754          4.90498  6.944574e+06
min     1.000000   72.000000      4.0000          5.10000  1.550000e+07
25%     1.750000   75.750000      7.0000         12.47500  1.858970e+07
50%     3.000000   79.000000      9.0000         14.60000  2.592135e+07
75%     4.000000   81.250000     11.0000         19.50000  2.993924e+07
max     5.000000   87.000000     17.0000         27.10000  4.020000e+07

In [25]:
df['SALARY'].value_counts()

32742000    5
27285000    4
27504630    3
38199000    3
18539130    2
           ..
22615559    1
16200000    1
37436858    1
30603448    1
30560700    1
Name: SALARY, Length: 61, dtype: int64

In [ ]:
# Get Pandas Profiling Report for a closer look
from pandas_profiling import ProfileReport
profile = ProfileReport(df, minimal=True).to_notebook_iframe()

profile

In [32]:
# Establish a target

target = df['SALARY']
target

0     40200000
1     38506482
2     38506482
3     38199000
4     38199000
        ...
75    15680000
76    15643750
77    15625000
78    15625000
79    15500000
Name: SALARY, Length: 80, dtype: int64

In [33]:
# Getting a baseline

df['SALARY'].value_counts(normalize=True)

32742000    0.0625
27285000    0.0500
27504630    0.0375
38199000    0.0375
18539130    0.0250
             ...
22615559    0.0125
16200000    0.0125
37436858    0.0125
30603448    0.0125
30560700    0.0125
Name: SALARY, Length: 61, dtype: float64

In [55]:
features = df.columns.drop(['NAME','TEAM'])
features

Index(['POSITION', 'HEIGHT IN.', 'EXPERIENCE', 'SCORING AVERAGE', 'SALARY'], dtype='object')

In [56]:
y = target
X = features

In [57]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(df, y, 
                                                  test_size=0.2, 
                                                  random_state=42)

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Instatiate
rf = RandomForestClassifier()

# Fit model
rf.fit(X_train, y_train)

ValueError: ignored